//
// + Variables
// =============================================================================

$break-amount: 12 !default;
$break-max: 960px !default;

//
// + Hooks
// =============================================================================

$_break-loop: null !default;
$_break-map: () !default;

//
// + Map
// =============================================================================

@mixin break-map($amount, $max) {
  @for $i from 1 through $amount {
    $break: ($i: ($max / $amount) * $i);
    $_break-map: map-merge($_break-map, $break) !global;
  }
}

@include break-map($break-amount, $break-max);

//
// + Break
// =============================================================================

@mixin break($break) {
  @media (min-width: map-get($_break-map, $break)) {
    @content;
  }
}

@mixin break-max($break) {
  @media (max-width: (map-get($_break-map, $break) - 1px)) {
    @content;
  }
}

//
// + Loop
// =============================================================================

@mixin break-loop($amount) {
  @content;

  @for $i from 1 through $amount {
    $_break-loop: $i !global;

    @include break($_break-loop) {
      @content;
    }
  }
}
