//
// + Variables
// =============================================================================

$break-amount: 12 !default;
$break-max: 80em !default;

//
// + Map
// =============================================================================

$break-map: () !default;

@mixin break-map($amount, $max) {
  @for $i from 1 through $amount {
    $break: ($i: ($max / $amount) * $i);
    $break-map: map-merge($break-map, $break) !global;
  }
}

@include break-map($break-amount, $break-max);

//
// + Break
// =============================================================================

@mixin break($break) {
  @media (min-width: map-get($break-map, $break)) {
    @content;
  }
}
