//
// + Variables
// =============================================================================

$break-amount: 12 !default;
$break-max: 80em !default;
$break-loop: null !default;

//
// + Map
// =============================================================================

$break-map: () !default;

@mixin break-map($amount, $max) {
  @for $i from 1 through $amount {
    $break: ($i: ($max / $amount) * $i);
    $break-map: map-merge($break-map, $break) !global;
  }
}

@include break-map($break-amount, $break-max);

//
// + Break
// =============================================================================

@mixin break($break, $prefix: 'min') {
  @media (#{$prefix}-width: map-get($break-map, $break)) {
    @content;
  }
}

//
// + Loop
// =============================================================================

@mixin break-loop($amount) {
  @content;

  @for $i from 1 through $amount {
    $break-loop: $i !global;

    @include break($break-loop) {
      @content;
    }
  }
}
